<div class="container-fluid">
  <div class="row">
    <form (ngSubmit)='submitRepeat()' #repeatForm='ngForm'>
      <div class="form-group">
        <label for="name">Author</label>
        <input type="text"  class="form-control" id="name" [(ngModel)]="newRepeat.name" name="name" #name="ngModel" required>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p>Name is Required</p>

        </div>

      </div>
      <div class="form-group">
        <label for="author">Writer's Name</label>
        <input type="text"  class="form-control" id="author" [(ngModel)]="newRepeat.author" name="name" #name="ngModel" required>

      </div>

      <div class="form-group">
        <label for="description">Quote</label>
        <textarea class="form-control" id="description" row="4" [(ngModel)]="newRepeat.description" name="description" #description="ngModel" required></textarea>

      </div>
      <button type="submit" class="btn btn-success btn-lg">Add Quote</button>

    </form>

  </div>

</div>
